.projects {
    text-align: center;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.projects h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(236,184,7);
    margin: 0;
    padding: 0;
}

.projects h2 {
    font-size: 48px;
    color: black;
    margin-bottom: 48px;
    margin-top: 0;
}

.projects > .row {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.projects > .row span {
    box-sizing: border-box;
    text-align: left;
    height: 371px;
    width: 555px;
    position: relative;
}

.projects > .row span:hover {
    height: 350px;
    width: 530px;
    margin: 20px;
    text-align: center;
}

.projects > .row > .one {
    background-image: url('./img/bbb.PNG');
    background-size: 371px 555px;
}

.projects > .row > .two {
    background-image: url('./img/ww.jpeg');
    background-size: 371px 555px;
}

.projects > .row > .three {
    background-image: url('./img/bank.PNG');
    background-size: 371px 555px;
}

.projects > .row > .one:hover {
    background: 
    linear-gradient(
      rgb(255, 255, 255), 
      rgb(255, 255, 255)
    ),
    url('./img/bbb.PNG');
    background-size: 350px 530px;
    border: 2px, black;
}

.projects > .row > .two:hover {
    background: 
    linear-gradient(
      rgb(255, 255, 255), 
      rgb(255, 255, 255)
    ),
    url('./img/ww.jpeg');
    background-size: 350px 530px;
}

.projects > .row > .three:hover {
    background: 
    linear-gradient(
      rgb(255, 255, 255), 
      rgb(255, 255, 255)
    ),
    url('./img/bank.PNG');
    background-size: 350px 530px;
    text-decoration-color: #fff;
}

.projects > .row h1 {
    margin-bottom: 8px;
    margin-block-end: 8px;
    font-weight: 700px;
    font-size: 12px;
    visibility: hidden;
}

.projects > .row p {
    font-weight: 300px;
    font-size: 19;
    padding-left: 20px;
    visibility: hidden;
}

.projects > .row > .one > .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.projects > .row > .one:hover > .button {
    background-color: green;
}

.projects > .row > .one:hover p {
    visibility: visible;
}

.projects > .row > .two:hover p {
    visibility: visible;
}

.projects > .row > .three:hover p {
    visibility: visible;
}

.projects > .row > .one:hover h1 {
    visibility: visible;
}

.projects > .row > .two:hover h1 {
    visibility: visible;
}

.projects > .row > .three:hover h1 {
    visibility: visible;
}


