.projects {
    text-align: center;
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.projects h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(236,184,7);
    margin: 0;
    padding: 0;
}

.projects h2 {
    font-size: 48px;
    color: black;
    margin-bottom: 48px;
    margin-top: 0;
}

.projects > .row {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.projects > .row span {
    box-sizing: border-box;
    text-align: left;
    height: 371px;
    width: 555px;
    position: relative;
}

.projects > .row span:hover {
    height: 350px;
    width: 530px;
    margin: 20px;
    text-align: center;
}

.projects > .row > .one {
    background-image: url('./img/bbb.PNG');
    background-size: 371px 555px;
}

.projects > .row > .two {
    background-image: url();
}

.projects > .row > .three {
    background-image: url();
}

.projects > .row > .four {
    background-image: url();
}

.projects > .row > .one:hover {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url('./img/bbb.PNG');
    background-size: 350px 530px;
}

.projects > .row > .two:hover {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url('./img/bg-masthead.jpg');
}

.projects > .row > .three:hover {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url('./img/bg-masthead.jpg');
}

.projects > .row > .four:hover {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url('./img/bg-masthead.jpg');
}

.projects > .row span h1 {
    margin-bottom: 8px;
    margin-block-end: 8px;
    font-weight: 700px;
    font-size: 12px;
}

.projects > .row span p {
    font-weight: 300px;
    font-size: 19;
}
